:root {
  --icon-size: 1.5rem;
  --primary-color: #2f6de5;
}
#navbar {
  /* height: 100%; */
  box-shadow: 1px 0px 5px rgba(47, 109, 229, 0.2);
  position: fixed;
  z-index: 7;
  top: 3rem;
  height: calc(100vh - 3rem);
  width: 4rem;
  display: flex;
  align-items: flex-end;
  background-color: white;
}
#nav-container {
  width: 100%;
  /* height: max-content; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.nav-icons {
  margin: 1rem 0;
  height: var(--icon-size);
  width: var(--icon-size);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  transition: transform 0.1s;
}
.nav-icons:hover > svg {
  transform: scale(1.1);
}
#paw {
  fill: var(--primary-color);
}
@media only screen and (max-width: 600px) {
  #navbar {
    bottom: 0px;
    top: unset;
    right: 0px;
    width: 100%;
    left: 0;
    height: 3rem;
    align-items: center;
  }
  #nav-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-icons {
    margin: 0;
  }
}
